[submodule "4/minecraft-hunger-games-sans-3d"]
	path = 4/minecraft-hunger-games-sans-3d
	url = https://github.com/anotherLostKitten/minecraft-hunger-games-sans-3d.git
[submodule "5/tangMi-brydonMa-gulsenEl-guptaSh"]
	path = 5/tangMi-brydonMa-gulsenEl-guptaSh
	url = https://github.com/tangym27/project02.git
[submodule "5/liangGe_nahianSa_wongRi"]
	path = 5/liangGe_nahianSa_wongRi
	url = https://github.com/GeoLiang90/final_mafia.git
[submodule "5/linVi-tungJa-wongLa"]
	path = 5/linVi-tungJa-wongLa
	url = https://github.com/victorlin7534/Sys_final_project.git
[submodule "4/tanSt-jiangDa-scheinbergRe"]
	path = 4/tanSt-jiangDa-scheinbergRe
	url = https://github.com/StefanTan18/SysFinalProject.git
[submodule "4/wangCr-liuSt-hanRo"]
	path = 4/wangCr-liuSt-hanRo
	url = https://github.com/cwcrystal8/Scrabbled_Eggs.git
[submodule "4/uddinMo-jamilMo"]
	path = 4/uddinMo-jamilMo
	url = https://github.com/Zer0-M/Systems-Final.git
[submodule "5/kimJa-liAn-wongKa"]
	path = 5/kimJa-liAn-wongKa
	url = git@github.com:jkim33/System_Final.git
[submodule "4/caiFi-choiS-liaoJ"]
	path = 4/caiFi-choiS-liaoJ
	url = git@github.com:fionaxc/SJF_FinalProject.git
[submodule "4/kendallMa-yangHa-weinerJo"]
	path = 4/kendallMa-yangHa-weinerJo
	url = git@github.com:hyang66/Google-Docs-but-its-made-by-3-high-school-students.git
[submodule "4/caiFi-choiSo-liaoJo"]
	path = 4/caiFi-choiSo-liaoJo
	url = git@github.com:fionaxc/SJF_FinalProject.git
[submodule "4/chenKe-jamalTa-wangKe"]
	path = 4/chenKe-jamalTa-wangKe
	url = git@github.com:k-wang11/final_project.git
[submodule "4/huMe_fabihaTa_haimanMi"]
	path = 4/huMe_fabihaTa_haimanMi
	url = https://github.com/meredeath/whoyougonnacall.git
[submodule "4/marderTi-xiaSo-idrisAn"]
	path = 4/marderTi-xiaSo-idrisAn
	url = https://github.com/TimMarder/SystemsFinalProject.git
